language: ruby
rvm:
- 2.1.0

sudo: false

install: 
  - gem build dpl.gemspec
  - rvm 2.1 do ruby -S gem install dpl-*.gem
  
script:
  # -  bundle install
  # - /home/travis/build/giltsl/travis-test/bin/dpl --provider=testfairy
  # - /home/travis/build/giltsl/travis-test/bin/dpl --provider=testfairy --platform="android" --api-key=c502ea9cc04d83a2aa4050fe13812c8dc139140d --apk="app/Sample.apk" --proguard-file="proguard file name" --keystore-file="app/debug.keystore" --storepass="android" --alias="androiddebugkey"
  # - /home/travis/.rvm/gems/ruby-2.2.0/gems/dpl-1.7.10.travis.11.1/bin/dpl --provider=testfairy --platform="android" --api-key=c502ea9cc04d83a2aa4050fe13812c8dc139140d --apk="app/Sample.apk" --proguard-file="proguard file name" --keystore-file="app/debug.keystore" --storepass="android" --alias="androiddebugkey"
  # - /home/travis/.rvm/gems/ruby-2.2.0/wrappers/dpl --provider=testfairy --platform="android" --api-key=c502ea9cc04d83a2aa4050fe13812c8dc139140d --apk="app/Sample.apk" --proguard-file="proguard file name" --keystore-file="app/debug.keystore" --storepass="android" --alias="androiddebugkey"
  # - /home/travis/build/giltsl/travis-test/lib/dpl --provider=testfairy --platform="android" --api-key=c502ea9cc04d83a2aa4050fe13812c8dc139140d --apk="app/Sample.apk" --proguard-file="proguard file name" --keystore-file="app/debug.keystore" --storepass="android" --alias="androiddebugkey"

deploy:
  provider: testfairy
  on:
    all_branches: true
#   platform: "android"
#   api-key: "5f8d490c554f63cf7784174bcdcb3c87f2447709"
#   apk: "app/Sample.apk"
#   proguard-file: "proguard file name"
#   keystore-file: "app/debug.keystore"
#   storepass: "android"
#   alias: "androiddebugkey"
