language: ruby
rvm:
- 2.1.0

sudo: false

install: 
  - gem build dpl.gemspec
  - rvm 2.2 do ruby -S gem install dpl-*.gem
  
script:
  - dpl --provider=testfairy --platform="android" --api-key=c502ea9cc04d83a2aa4050fe13812c8dc139140d --apk="/Users/gilt/dev/apks/Sample.apk" --proguard-file="proguard file name" --keystore-file="/Users/gilt/dev/android/command-line-uploader/debug.keystore" --storepass="and$

